body {
  height: 100%;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514E;
  
}
h1 {
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  font-size: 562.5%; /* 100% = 16px = 1em, rem ignores all parent 562.5*/
  color: #66BFBF;
  font-style: italic;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}
hr {
  border-style: dotted none none none;
    border-color: #7a7f7f;
    border-width: 5px;
    height: 10px;
    width: 20%;
}

.top-container {
  position: relative;
  background-color: #e4f9f5;
  padding-top: 100px;
  padding-bottom: 105px;
}
.middle-container {
  padding-top: 100px;
  padding-bottom: 75px;
  background-color: white;
}
.profile {
  padding-bottom: 50px;
}
.jppic {
  height: 250px;
  width: 250px;
}
.mydesc {
  width: 30%;
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.codeimg { 
  width: 25%;
  float: left;
  margin-right: 30px;
}
.robot {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.idea {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 25px;
  

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me {
  width: 30%;
  margin: auto;
}
.bottom-container {
  padding-top: 50px;
  background-color: #66BFBF;
  padding-bottom: 20px;
}
.cloud1 {
  position: absolute;
  top: 40px;
  right: 300px;
}
.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
a { 
  color: #11999E;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.signature {
  color: #eaf6f6;
  font-size: .75em;
  padding: 20px 0px;
}